@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');


:root{
    --body-background:#BFD7E4;
    --pink:#F67669;
    --input-background:#FAFAFC;
    --border:#E6E6F0;

    --poppins:'Poppins', sans-serif;
    --staatliches:'Staatliches', sans-serif;
    --font-color:#4E4958;
    --legend-font-color:#253B51;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body::before{
    content: '';

    position: absolute;
    z-index: -1;

    height: 301px;
    width: 100%;

    background-color: black;
}
body{
    background-color: var(--body-background);
    font-family: var(--poppins);
    color: var(--font-color);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;

}
#avaliation-img{
    margin-top: 1em;
}
h1,legend{
    font-family: var(--staatliches);
}
h1,p{
    color: white;
}




main{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    background-color: white;

    border-radius: 16px 16px 16px 16px;
}
fieldset{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
}
.legend{
    text-align: center;
    color: var(--legend-font-color);
    font-size: 24px;
    padding-bottom: 6px;
}
.line{
    width: 100%;
    border: 1px solid var(--font-color);
    margin-bottom: 2em;
}
label{
    padding: 10px 10px 10px 0px;
}
input{
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: var(--input-background);
    border: 1px solid var(--border);
    text-indent: 6px;
}
input:focus, select:focus, textarea:focus{
    outline: 2px solid var(--legend-font-color);
}
select{
    width: 300px;
    height: 56px;
    border-radius: 8px;
    background-color: var(--input-background);
    border: 1px solid var(--border);
    text-indent: 6px;
}
#doubt{
    width: auto;
}
#personal-info{
    background-color: var(--pink);
    padding: 26px;
    text-align: center;

    color: white;
    
    border-radius: 16px 16px 0px 0px;
    
}
.info{
    padding: 0em 2em 2em ;
    display: flex;
    flex-direction: column;
    
}
.name-info{
    display: flex;
    gap: 2em;
}
.name-info div{
    width: 100%;
}
.info label{
    display: block;
}

textarea{
    text-indent: 1em;
    width: 100%;
    height: 10em;
    border-radius: 8px;
    background-color: var(--input-background);
    border: 1px solid var(--border);
}
#check{
    padding-top: 1em;
    display: flex; 
    position: relative; 
    
}

#check #doubt{ 
    top: 47%;
    left: 1px;
    position: absolute;
    width: 24px;
    height: 24px;

    opacity: 0;
    
}
#check label{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
#check label::before{
    
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: var(--input-background);
    border: 1px solid var(--border);

}
#check input:checked + label::before{
    background-image: url(images/icons-check-48.png);
    background-size: contain;
    background-position: center center;
}
#check input:focus + label::before{
    outline: 2px solid var(--legend-font-color);
}
#time{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
#day{
    width: 150%;
}
.hour{
    width: 90%;
}
.save{
    width: 100%;
    padding: 0em 2em 2em ;
}
#save-button{
    background-color: var(--pink);
    color: white;
    font-family: var(--staatliches);
    font-size: 20px;
}

