@charset "UTF-8";

:root{
    --body-background:#BFD7E4;
    --pink:#F67669;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body::before{
    content: '';

    position: absolute;
    z-index: -1;

    height: 301px;
    width: 100%;

    background-color: black;
}
body{
    background-color: var(--body-background);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;

}
#avaliation-img{
    margin-top: 1em;
}
h1,p{
    color: white;
}




main{
    display: flex;
    justify-content: center;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
    background-color: white;
}
fieldset{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
}
.legend{
    text-align: center;
}
input{
    width: 100%;
}
#doubt{
    width: auto;
}
#personal-info{
    background-color: var(--pink);
    padding: 36px;
    text-align: center;

    color: white;
    
    
}
form, #personal-info{
    border-radius: 1em 1em 0 0;
}
.info{
    padding: 1em;
    display: flex;
    flex-direction: column;
    
}
.name-info{
    display: flex;
    gap: 2em;
}
.name-info div{
    width: 100%;
}
.info label{
    display: block;
}

textarea{
    width: 100%;
    height: 10em;
}
#check{
    display: flex;
    gap: 1em;
}
#time{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
#day{
    width: 150%;
}
.hour{
    width: 90%;
}