@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    font-family: "Inter", sans-serif;
    font-size: 62.5%;
    --background-page:hsl(231, 80%, 8%);
    --calculator-color:white;
    --result-screen-color:white;
    --input-background:hsl(212, 23%, 89%);
    --green-color:194, 97%;
    --button-color:hsl(var(--green-color), 31%);
    --button-color-hover:hsl(var(--green-color), 61%);
    --error-bckgnd:hsl(0, 86%, 59%);
}
body{
    background-color:var(--background-page) ;
}
main{
    height: 100vh;
    width: 100vw;

    display: grid;
    place-items: center;

    font-size: 1.6rem;

}
#datas{
    padding: 4rem;
    background-color: var(--calculator-color);
    border-radius: 1rem;

    height: 50%;
    width: 40%;
    
}#datas div{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    justify-content: space-evenly;
     
}
form button,input{

    width: 100%;
    border: none;
    border-radius: 0.4rem;
}
label{
    margin: 0.5rem 0rem;
}
input{
    height: 5.2rem;
    background-color: var(--input-background);
    text-indent: 1rem;
}
input:focus{
    outline: 2px solid cadetblue;
}

form button{
    background-color:var(--button-color) ;
    color: var(--calculator-color);
    font-size:2rem;
    font-weight: bold;

    margin-top: 3rem;
    padding: 2.6rem;
}
form button:hover{
    background-color: var(--button-color-hover);
    transition: 0.3s;
    box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.37);
    
}

.hided{
    display: none;
}
main >div{
    background-color: rgba(0, 0, 0, 0.39);
    position: absolute;
    inset: 0;
    display: grid;
   place-items: center;
}
#result{
    background-color: var(--result-screen-color);
    
    height: 30%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    border-radius: .4rem;

    
}
#result h1{
    margin:auto;
    padding: 0rem 1rem;
}
#close{
    width: 2rem;
    height: 2rem;
    align-self: flex-end;
    margin: 1rem 1rem 0rem ;
    transition: 0.3s;
    border: none;
    border-radius: 0.4rem;
}
#close:hover{
    background-color: red;
    border: none;
    border-radius: 0.4rem;
    color: var(--result-screen-color);
    cursor: pointer;
    scale: 1.1;
}

#error{
    
    position: absolute;
    top: 0px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: var(--error-bckgnd);
    font-size: 1.6rem;
    padding: calc(3.6rem - 1.6rem);
}

@media(max-width:920px){
    #datas{
        width:80% ;
        height:70% ;
    }
    #result{
        height: 40%;
        width: 80%;
    }
    
}
@media(max-height:420px){
    #datas{
        width: 50%;
        height: 90%;
    }
    #result{
        height: 80%;
        width: 50%;
    }
    input{
        height: 5rem;
    }
    form button{
        padding: 2rem;
    }
}