@charset "UTF-8";

:root{
    --header-background:#535971;
}




*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body::before{
    content: '';
    position: absolute;


    height: 300px;
    width: 100vw;

    background-color: var(--header-background);

    z-index: -1;
}

header{
    margin: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 9px;

    height: 250px;

    color: white;
    
}
main{
    display: flex;
    justify-content: center;
    
}
form{
    width: 50vw;
    background-color: white;
    border-radius: 9px 9px 0px 0px;

    padding: 4em;
}

fieldset{
    border: none;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    padding: 10px;
}
legend{
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
    width: 100%;
}
#names, .time{
    width: 100%;
    display: flex;
    gap: 10px;
    
}
.name-info, .date-info{
    width: 100%;
}
.day{
    width: 150%;
}

label{
    display: block;
}
input{
    height: 56px;
    width: 100%;
    border-radius: 9px;
}
#email, #password, #mentor-name{
    width: 100%;
}

